// MY THEME COLORS
$blue: #0b6bc4;
$dark-blue: #0a2540;
$orange: #ff7902;
$footer: #160220;

$primary: $blue;
$secondary: $orange;

/*
** IMPORT BOOTSTRAP **
*/
@import "../node_modules/bootstrap/scss/bootstrap.scss";
