@use "../custom" as *;
@use "../components/mixins" as *;

.tour-customization {
  position: relative;
  background-color: $white;

  .notify {
    position: absolute;
    top: 10px;
    left: 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .setting {
      background-color: $primary;
      @include flexCenter;
      border-radius: 5px;
      padding: 0.5rem;
      color: $white;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: rgba($primary, 0.8);
      }
    }
  }

  .tour-card {
    position: relative;
    background: no-repeat center center / cover;
    margin-right: 5px;

    .content {
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      background-color: $black;
      background-position: 0.5;
    }
  }

  .prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba($secondary, 0.8);
    padding: 0.5rem 1rem;
    border-radius: 50%;
    color: $white;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: rgba($secondary, 1);
    }
  }

  .next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba($secondary, 0.8);
    padding: 0.5rem 1rem;
    border-radius: 50%;
    color: $white;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: rgba($secondary, 1);
    }
  }

  .bg-opacity-10:hover {
    --bs-bg-opacity: 0.5;
  }

  @include media-breakpoint-up(md) {
    .carousel-inner {
      display: flex;
    }
    .carousel-item {
      margin-right: 0px;
      flex: 0 0 33.33%;
      display: block;
    }
  }
}
